/* Custom styles for the presentation */
@import 'reveal.js/dist/reveal.css';
@import 'reveal.js/dist/theme/dracula.css';
/* Default theme */

/* Add your custom CSS here */
.reveal section h1 {
  font-size: 2.5em;
  text-transform: none;
}